name: Notify Add-ons Repo

on:
  push:
    tags:
      - 'v*'
  release:
    types: [published]

jobs:
  notify:
    runs-on: ubuntu-latest

    steps:
      - name: Trigger parent repo update
        run: |
          curl -X POST https://api.github.com/repos/njyjn/ha-addons/dispatches \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            -d '{"event_type":"inventorybot-released"}'
